<section class="d-flex bd-highlight mb-3 align-items-center">

    <div class="me-auto p-2 bd-highlight "><span class="align-middle">Available rooms:</span></div>
    <div class="p-2 bd-highlight"><a class="btn " href="{% url 'root:create-room' %}">Create Room</a></div>
</section>

{% for room in rooms %}
    <article class="card card border-dark mb-3">

        <header class="card-header">
            <span>@{{ room.host.username }}</span>
                <small>{{ room.topic.name }}</small>

            {% if request.user == room.host %}
                    <a href="{% url 'root:update-room' room.id %}">Edit</a>
                    <a href="{% url 'root:delete-room' room.id %}">Delete</a>
            {% endif %}
        </header>
    <main class="card-body">
        <h5 class="card-title">Room #{{ room.id }} > <a href="{% url 'root:room' room.id %}">{{ room.name }}</a></h5>
        <p class="card-text"> {{ room.description }}</p>
    </main>
    </article>
{% endfor %}