<h3 class="h3">Browse Topics</h3>
<hr>
    <article class="mb-2">
        <a href="{% url 'root:main-page' %}">All Topics</a>
    </article>
{% for topic in topics %}
    <article class="mb-2">
        <a href="{% url 'root:main-page' %}?q={{ topic.name }}">{{ topic.name }}</a>
    </article>
{% endfor %}