<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pryt</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
    {% bootstrap_javascript %}
</head>
<body>
{% include 'navbar.html' %}

{% block content %}
{% endblock %}
</body>
</html>