{% load static %}
<header class="container-fluid mt-4">
    <section class="d-flex bd-highlight mb-3 align-items-center">
        <section class="p-2 bd-highligh">
            <h1 class="h1"><a class="no-style" href="{% url 'root:main-page' %}">Pryt</a></h1>
        </section>

        <section class="p-2 bd-highligh">
            <form method="get" action="{% url 'root:main-page' %}">
                <input class="form-control border-secondary rounded-pill " type="text" name="q" placeholder="Search...">
            </form>
        </section>

        <section class="ms-auto p-2 bd-highlight text-center">
            {% if request.user.is_authenticated %}
                <img class=".img-thumbnail" src="{% static 'img/avatar.png' %}" alt="user profile image" width="40">
                <p><a class="profile-username-p" href="{% url 'root:user-profile' request.user.id %}">{{ request.user.first_name }} {{ request.user.last_name }} | @{{ request.user }}</a></p>
                <a href="{% url 'root:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'root:login' %}">Login</a>
            {% endif %}
        </section>
    </section>
</header>