body {
    background-color: #2E3440;
    color: #ECEFF4;
}

.card {
    background-color: #434C5E;
}

.card-header {
    background-color: #4C566A;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn  {
    background-color: #4C566A;
    border-color: #4C566A;
    color: #ECEFF4;
}

input.btn:hover {
    color: #88C0D0;
}

a, a:hover, a:visited, a:active, a:focus {
    color: #88C0D0;
    text-decoration: none;
}

a.btn {
    color: #ECEFF4;
}

a.btn:hover {
    color: #88C0D0;
}

a:hover {
    background-color: #4C566A;
}

a.profile-username-p {
    color: #B48EAD;
}

.rounded-pill.rounded-pill-badge  {
    background-color: #8FBCBB;
    color: #ECEFF4;
    font-weight: bold;
}

.rounded-pill-badge-user {
    color: #BF616A;
}

.rounded-pill {
    background-color: #D8DEE9;
}

.profile-username {
    color: #D8DEE9;
}

.scroll {
    max-height: 70vh;
    overflow-y: auto;
}


.no-style {
    color: inherit;      /* Hereda el color del texto del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

a.no-style {
    background-color: #2E3440;
}

.no-style:hover, .no-style:visited, .no-style:active, .no-style:focus {
    color: inherit;
}