{% extends 'main.html' %}

{% block content %}
    <section class="container">
        <form method="post" action="">
            {% csrf_token %}
            <h3 class="h3">Do you want to delete {{ element }}?</h3>
            <p><a href="{{ request.META.HTTP_REFERER }}">Go to previous page</a></p>
            <input class="btn" type="submit" value="Delete" />
        </form>
    </section>
{% endblock %}