{% extends 'main.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
 {% block content %}

     <section class="container text-start">
        <form method="post" action="" >
            {% csrf_token %}
            {{ form|crispy }}

            <input class="btn" type="submit" value="Login">
        </form>
        <div class="mt-4">
            <a href="{% url 'root:sign-up' %}">Don't have an account? Create your account here</a>
        </div>
     </section>


 {% endblock %}