{% extends 'main.html' %}

{%  block content %}

{% comment %}<style>
    .main-ct {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>{% endcomment %}

<main class="container text-center mt-4">
    <section class="row">
        <aside class="col-2">
            {% include 'root/main_components/topics_component.html' %}
        </aside>

        <section class="col-8">
            {% include 'root/main_components/room_component.html' %}
        </section>

    </section>
</main>
{% endblock %}
</body>
</html>