{% extends 'main.html' %}

{% block content %}
{% comment %}    <style>
        .profile {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
        }
    </style>{% endcomment %}

    <header class="container mt-3">
       <h1 class="h1 text-center">{{ user.first_name }} {{ user.last_name }}</h1>
    </header>
    <main class="container text-center mt-5">
        <section class="row">

            <aside class="col">
                {% include 'root/main_components/topics_component.html' %}
            </aside>

            <section class="col-6">
                <p>Host of {{ room_cout }} room/s</p>
                {% include 'root/main_components/room_component.html' %}
            </section>

            <section class="col">
                <h3 class="h3">Recent activity </h3>
                <hr>
                {% for message in messages %}
                    <article class="mb-2">
                        <span>@{{ message.user }} {{ message.created|timesince }} ago</span>
                        <small>Replied to room "{{ message.room }}"</small>
                        <p>{{ message.body }}</p>
                    </article>
                {% endfor %}
            </section>
        </section>
    </main>


{% endblock %}