{% extends 'main.html' %}

{%  block content %}
    {% comment %}<style>
        .room {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>{% endcomment %}

    <header class="container mt-4 mb-3">
        <h1 class="h1">{{ room.name }}</h1>
        <p class="lead">{{ room.description }}</p>
    </header>
    <main class="container text-center">
        <section class="row">
            <section class="col-8">
                <h2 class="h2 text-start mb-3">Chat</h2>
                <section class="scroll">
                    {% for message in messages %}
                        <article class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex bd-highlight mb-3">
                                    <div class="me-auto p-2 bd-highlight">
                                        <p>{{ message.body }}</p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <span class="badge rounded-pill-badge rounded-pill"><span class="rounded-pill-badge-user">@{{ message.user }}</span> - {{ message.created|timesince }} ago</span>
                                        {% if request.user == message.user %}
                                        <a href="{% url 'root:delete-message' message.id %}?pk2={{ room.id }}">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </section>

                {% if request.user.is_authenticated %}
                <section class="room-chat-form">
                    <form method="post" action="">
                        {% csrf_token %}
                        <input  class="form-control border-secondary rounded-pill " type="text" name="body" placeholder="Write a message..." />
                    </form>
                </section>
                {% endif %}
            </section>

            <aside class="col-4">
                <h2>Participants</h2>
                <hr>
                {% for p in participants %}
                    <article>
                        <a href="{% url 'root:user-profile' p.id %}">@{{ p.username }}</a>
                    </article>
                {% endfor %}
            </aside>
        </section>
    </main>
{% endblock %}