{% extends 'main.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <section class="container text-start">
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn" type="submit" value="Submit" />
        </form>
    </section>
{% endblock content %}