{% extends 'main.html' %}
{% load crispy_forms_filters %}

{% block content %}

     <section class="container text-start">
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn" type="submit" value="Sign Up">
        </form>
         <div class="mt-4">
             <a href="{% url 'root:login' %}">Already have an account? Login here</a>
         </div>
     </section>

 {% endblock %}