<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pryt</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
    {% bootstrap_javascript %}
</head>
<body class="container mt-4">

    <h2 class="h2">{{ message }}</h2>
    <p><a href="{% url 'root:main-page' %}">Go to main page</a></p>

</body>